<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Step Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wpstyle.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <form id="multiStepForm">
            <!-- Step 1 -->
            <div class="form-step form-step-active">
                <h2>Welcome, tell us a little about yourself!</h2>
                <p>Select five <strong >genres</strong> you're into.</p>
                <div class="form-group">
                    <input type="text" id="nameInput" name="nameInput" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <select id="ageInput" name="ageInput">
                        <option value="">13-17</option>
                        <option value="team">18-24</option>
                        <option value="individual">25-34</option>
                        <option value="individual">25-34</option>
                        <option value="individual">35-44</option>
                        <option value="individual">45-54</option>
                        <option value="individual">45-54</option>
                        <option value="individual">55-64</option>
                        <option value="individual">65 and over</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="countryInput" name="countryInput">
                        <option value="">Country</option>
                        <option value="developer">France</option>
                        <option value="designer">Spain</option>
                        <option value="manager">United States</option>
                        <option value="developer">China</option>
                        <option value="designer">Italy</option>
                    </select>
                </div>
                <button type="button" class="btn-next">Next</button>
            </div>
            <!-- Step 2 -->
            <div class="form-step">
                <h2>More Questions</h2>
                <button type="button" class="btn-prev">Previous</button>
                <button type="button" class="btn-next">Next</button>
            </div>
            <!-- Additional Steps -->
            <!-- Step 3 -->
            <div class="form-step">
                <h2>Final Step</h2>
                <!-- Additional form elements for the final step -->
                <button type="button" class="btn-prev">Previous</button>
                <button type="submit">Submit</button>
            </div>
        </form>
        <div class="form-progress">
            <div class="form-progress-bar"></div>
        </div>
    </div>

    <script>
        const firebaseConfig = {{ config | tojson }};
    </script>
    
    <script src="{{ url_for('static', filename='javascript/form.js') }}"></script>
</body>
</html>
